
<div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
     $( "#campofecha" ).datepicker({
      numberOfMonths: 1,
      showButtonPanel: true
     });
    } );
    </script>
    <p>Fecha: <input type="text" id="campofecha"></p>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <button onclick="agendar()">Agendar</button>
</div>