<div>
    <h1>Hacer cita </h1>
    <br>

    <label for="date1">Fecha de la cita</label>
    <input type="date" name="date" id="date1" placeholder="inserte una fecha....">
    <br><br>

    <label for="hour">Hora de la cita</label>
    <input type="time" name="hour" id="hour" min="09:00" max="18:00">
    <small>Nuestros horarios de atención son: 9:00-18:00 hrs</small>
    <br><br>

    <label for="especialidad">Especialidad:</label>
    <select name="especialidad" id="especialidad" onchange="showDiv()">
        <option value="" selected disabled hidden>Especialidad...</option>
        <option value="General">General</option>
        <option value="Neurología">Neurología</option>
        <option value="Cardiología">Cardiología</option>
        <option value="Pediatría">Pediatría</option>
        <option value="Trauma">Trauma</option>
        <option value="Plástica">Plástica</option>
        <option value="Ortopedia">Ortopedia</option>
        <option value="Obstetricia">Obstetricia</option>
    </select>
    <br><br>

    <label for="doctores">Doctores</label>
    <div id="doctors">
    </div>

    <br><br>
    <label for="reason">Motivo</label>
    <input type="text" name="reason1" id="reason" placeholder="Describa el motivo de su consulta...">
    <br><br>

    <button onclick="add()">Agendar</button>
    <br>
    <br>
    <div id="messageC"></div>
    <br>
    <br>
    <table id="userTableClient" style="width:75%" border="1">
        <tr>

            <th>Fecha cita</th>
            <th>Hora cita</th>
            <th>Doctor</th>
            <th>Especialidad</th>
            <th>Motivo</th>
        </tr>
    </table>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>