<div>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dashboard</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">


    </head>
    <h1>Catálogo médico</h1>

    <h2>Especialidades</h2>

    <!-- Botones de filtro -->
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Todo </button>
        <button class="btn" onclick="filterSelection('general')"> General </button>
        <button class="btn" onclick="filterSelection('neuro')"> Neurología </button>
        <button class="btn" onclick="filterSelection('cardio')"> Cardiología </button>
        <button class="btn" onclick="filterSelection('pediatria')"> Pediatría </button>
        <button class="btn" onclick="filterSelection('trauma')"> Trauma </button>
        <button class="btn" onclick="filterSelection('plastica')"> Plástica</button>
        <button class="btn" onclick="filterSelection('orto')"> Ortopedia </button>
        <button class="btn" onclick="filterSelection('obstetricia')"> Obstetricia</button>

    </div>

    <!-- Contenido catalogo -->
    <div class="row">

        <!-- Sección de cirugia general -->


        <div class="column general">
            <div class="content">
                <h3>General</h3>
            </div>
        </div>
        <div class="column general">
            <div class="content">
                <img src="/static/images/Mer.jpg" alt="Mer" style="width:100%">
                <h4>Dra. Meredith Grey</h4>
                <p>Cel. 7026-6235</p>
                <a href="mailto:grey.m@greysloan.com">grey.m@greysloan.com </a>
            </div>
        </div>
        <div class="column general">
            <div class="content">
                <img src="/static/images/Bailey.jpg" alt="Bailey" style="width:100%">
                <h4>Dra. Miranda Bailey</h4>
                <p>Cel. 7005-0786</p>
                <a href="mailto:bailey.m@greysloan.com">bailey.m@greysloan.com </a>
            </div>
        </div>
        <div class="column general">
            <div class="content">
                <img src="/static/images/Webber.jpg" alt="Webber" style="width:100%">
                <h4>Dr. Richard Webber</h4>
                <p>Cel. 7107-7599</p>
                <a href="mailto:webber.r@greysloan.com">webber.r@greysloan.com </a>
            </div>
        </div>

        <!-- seccion de neurologia-->
        <div class="column neurologia">
            <div class="content">
                <h3>Neurología</h3>
            </div>
        </div>
        <div class="column neurologia">
            <div class="content">
                <img src="/static/images/Derek.jpg" alt="Derek" style="width:100%">
                <h4>Dr. Derek Shepherd</h4>
                <p>Cel. 7486-9837</p>
                <a href="mailto:sheperd.d@greysloan.com">sheperd.d@greysloan.com</a>
            </div>
        </div>
        <div class="column neurologia">
            <div class="content">
                <img src="/static/images/Lexie.png" alt="Lexie" style="width:100%">
                <h4>Dra. Lexie Grey</h4>
                <p>Cel. 7682-6922</p>
                <a href="mailto:grey.l@greysloan.com">grey.l@greysloan.com</a>
            </div>
        </div>
        <div class="column neurologia">
            <div class="content">
                <img src="/static/images/Amelia.jpg" alt="Amelia" style="width:100%">
                <h4>Dra. Amelia Shepherd</h4>
                <p>Cel. 7729-7600</p>
                <a href="mailto:sheperd.a@greysloan.com">sheperd.a@greysloan.com</a>
            </div>
        </div>

        <!-- seccion de cardiología-->
        <div class="column cardiologia">
            <div class="content">
                <h3>Cardiología</h3>
            </div>
        </div>
        <div class="column cardiologia">
            <div class="content">
                <img src="/static/images/Yang.jpg" alt="Yang" style="width:100%">
                <h4>Dra. Cristina Yang</h4>
                <p>Cel. 7989-6520</p>
                <a href="mailto:yang.c@greysloan.com">yang.c@greysloan.com</a>
            </div>
        </div>
        <div class="column cardiologia">
            <div class="content">
                <img src="/static/images/Burke.jpg" alt="Burke" style="width:100%">
                <h4>Dr. Preston Burke</h4>
                <p>Cel. 7923-7393</p>
                <a href="mailto:burke.p@greysloan.com">burke.p@greysloan.com</a>
            </div>
        </div>
        <div class="column cardiologia">
            <div class="content">
                <img src="/static/images/Hahn.jpg" alt="Hahn" style="width:100%">
                <h4>Dra. Erica Hahn</h4>
                <p>Cel. 7129-5403</p>
                <a href="mailto:hahn.e@greysloan.com">hahn.e@greysloan.com</a>
            </div>
        </div>

        <!-- seccion de pediatría-->
        <div class="column pediatria">
            <div class="content">
                <h3>Pediatría</h3>
            </div>
        </div>
        <div class="column pediatria">
            <div class="content">
                <img src="/static/images/Alex.jpg" alt="Alex" style="width:100%">
                <h4>Dr. Alex Karev</h4>
                <p>Cel. 7357-7856</p>
                <a href="mailto:karev.a@greysloan.com">karev.a@greysloan.com</a>
            </div>
        </div>
        <div class="column pediatria">
            <div class="content">
                <img src="/static/images/Arizona.png" alt="Arizona" style="width:100%">
                <h4>Dra. Arizona Robbins</h4>
                <p>Cel. 7032-7134</p>
                <a href="mailto:robbins@greysloan.com">robbins@greysloan.com</a>
            </div>
        </div>
        <div class="column pediatria">
            <div class="content">
                <img src="static/images/Percy.jpg" alt="Percy" style="width:100%">
                <h4>Dr. Charles Percy</h4>
                <p>Cel. 7888-0283</p>
                <a href="mailto:percy.c@greysloan.com">percy.c@greysloan.com</a>
            </div>
        </div>


        <!-- seccion de trauma-->
        <div class="column trauma">
            <div class="content">
                <h3>Trauma</h3>
            </div>
        </div>
        <div class="column trauma">
            <div class="content">
                <img src="/static/images/George.jpg" alt="George" style="width:100%">
                <h4>Dr. Gorge O'Malley</h4>
                <p>Cel. 7042-4481</p>
                <a href="mailto:omalley.g@greysloan.com">omalley.g@greysloan.com</a>
            </div>
        </div>
        <div class="column trauma">
            <div class="content">
                <img src="/static/images/Owen.jpg" alt="Owen" style="width:100%">
                <h4>Dr. Owen Hunt</h4>
                <p>Cel. 7135-4338</p>
                <a href="mailto:hunt.o@greysloan.com">hunt.o@greysloan.com</a>
            </div>
        </div>
        <div class="column trauma">
            <div class="content">
                <img src="/static/images/April.jpg" alt="April" style="width:100%">
                <h4>Dra. April Kepner</h4>
                <p>Cel. 7261-4277</p>
                <a href="mailto:kepner.a@greysloan.com">kepner.a@greysloan.com</a>
            </div>
        </div>

        <!-- seccion de plástia-->
        <div class="column plastica">
            <div class="content">
                <h3>Cirugía Plástica</h3>
            </div>
        </div>
        <div class="column plastica">
            <div class="content">
                <img src="/static/images/Mark.jpg" alt="Mark" style="width:100%">
                <h4>Dr. Mark Sloan</h4>
                <p>Cel. 7870-0284</p>
                <a href="mailto:sloan.m@greysloan.com">sloan.m@greysloan.com</a>
            </div>
        </div>
        <div class="column plastica">
            <div class="content">
                <img src="/static/images/Jackson.jpg" alt="Jackson" style="width:100%">
                <h4>Dr. Jackson Avery</h4>
                <p>Cel. 7944-6006</p>
                <a href="mailto:avery.j@greysloan.com">avery.j@greysloan.com</a>
            </div>
        </div>
        <div class="column plastica">
            <div class="content">
                <img src="static/images/Deluca.jpg" alt="Deluca" style="width:100%">
                <h4>Dr. Andrew Deluca</h4>
                <p>Cel. 7986-9803</p>
                <a href="mailto:deluca.a@greysloan.com">deluca.a@greysloan.com</a>
            </div>
        </div>

        <!-- seccion de ortopedia-->
        <div class="column ortopedia">
            <div class="content">
                <h3>Ortopedia</h3>
            </div>
        </div>
        <div class="column ortopedia">
            <div class="content">
                <img src="/static/images/Calli.jpg" alt="Calli" style="width:100%">
                <h4>Dra. Calliope Torres</h4>
                <p>Cel. 7987-4520</p>
                <a href="mailto:torres.c@greysloan.com">torres.c@greysloan.com</a>
            </div>
        </div>
        <div class="column ortopedia">
            <div class="content">
                <img src="/static/images/Izzy.jpg" alt="Izzy" style="width:100%">
                <h4>Dra. Isobel Stevens</h4>
                <p>Cel. 7859-6628</p>
                <a href="mailto:stevens@greysloan.com">stevens@greysloan.com</a>
            </div>
        </div>
        <div class="column ortopedia">
            <div class="content">
                <img src="static/images/Ben.jpg" alt="Ben" style="width:100%">
                <h4>Dr. Ben Warren</h4>
                <p>Cel. 7844-0172</p>
                <a href="mailto:warren@greysloan.com">warren@greysloan.com</a>
            </div>
        </div>

        <!-- seccion de obstetricia -->
        <div class="column obstetricia">
            <div class="content">
                <h3>Obstetricia</h3>
            </div>
        </div>
        <div class="column obstetricia">
            <div class="content">
                <img src="/static/images/Addison.jpg" alt="Addison" style="width:100%">
                <h4>Dra. Addison Mont</h4>
                <p>Cel. 7862-6440</p>
                <a href="mailto: addison.m@greysloan.com">addison.m@greysloan.com</a>
            </div>
        </div>
        <div class="column obstetricia">
            <div class="content">
                <img src="static/images/Edwards.jpg" alt="Edwards" style="width:100%">
                <h4>Dra. Stephanie Edwards</h4>
                <p>Cel. 7547-7081</p>
                <a href="mailto:edwards.s@greysloan.com">edwards.s@greysloan.com</a>
            </div>
        </div>
        <div class="column obstetricia">
            <div class="content">
                <img src="static/images/Jo.jpg" alt="Jo" style="width:100%">
                <h4>Dra. Joe Willson</h4>
                <p>Cel. 7741-3265</p>
                <a href="mailto:willson.j@greysloan.com">willson.j@greysloan.com</a>
            </div>
        </div>
    </div>


    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="{{url_for('static', filename='cataloge.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>