<div id="form">
    
        <h1>Formulario Inicial</h1>
        <p>En "Un doc para usted" velamos siempre por 
            su bienestar y buscamos la mejor manera para 
            servirle. A continuación, se presentará un formulario 
            el cual deberá ser llenado con sus datos personales con 
            el fin de ser registrado en nuestra clínica y de esta forma 
            atenderlo como usted merece.</p>
        
        <center>
        <div class="form" id="form01">
            
                <p>Fecha:
                    <input type="date" name="date" id="date">
                </p>
            
            
            <fieldset class="inline">
                <legend>Detalles de Paciente:</legend>
                <label>Nombre:<br />
                    <input type="text" name="name" id="name" placeholder="Incluir nombre y apellido" /></label><br />
                <label>Dirección:<br />
                    <input type="text" name="address" id="address" /></label>
            </fieldset>
            <br>
            <fieldset class="inline">
                <legend>Referencias:</legend>
                <label>Fecha de nacimiento:<br />
                    <input type="date" name="datebirth" id="datebirth" /></label><br />
                <br>
                <label for="sex">Sexo:</label>
                <select name="sex" id="sex">
                <option value="" selected disabled hidden>Seleccione sexo...</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                </select>
                <br>
                <br>
                <label>Estado Civil:<br/>
                    <input type="text" name="state" id="civil" /></label><br/>
                <label>CP:<br />
                    <input type="text" name="cp" id="cp" /></label><br />
                <label>Teléfono:<br />
                    <input type="text" name="telephone" id="tel"/></label><br />
                <label>Celular:<br />
                    <input type="text" name="cellphone" id="cel" /></label><br />
                <label>Correo:<br />
                    <input type="text" name="mail" id="mail"/></label><br />
            </fieldset>
            <br>
            <br>
            <button onclick="initialForm()">Enviar formulario de registro</button>
        </div>
        </center>
        
        <br>
        <div id="message"></div>
    
    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>