<div>
    <center>
        <h1>Formulario Inicial</h1>
        <form action="#">
            <p>Fecha:
                <input type="date" name="date" id="date">
            </p>
        </form>
        <style type="text/css">
            fieldset.inline {
                display: inline;
                text-align: center;
                background-color: #2A9CBF;
                border-color: black;
                width: 25%;
                height: 50%;
                font-size: 14pt;
            }

            legend {
                font-size: 20pt;
                font-weight: bold;
            }

            .submit {
                height: 50px;
                width: 100px;
            }
        </style>
        <fieldset class="inline">
            <legend>Detalles de Paciente:</legend>
            <label>Nombre:<br />
                <input type="text" name="name" placeholder="Incluir nombre y apellido" /></label><br />
            <label>Dirección:<br />
                <input type="text" name="address" /></label>
        </fieldset>
        <br>
        <fieldset class="inline">
            <legend>Referencias:</legend>
            <label>Fecha de nacimiento:<br />
                <input type="date" name="datebirth" id="datebirth" /></label><br />
            <br>
            <label>Sexo:</label>
            <input id="female" type="radio" name="gender" value="f">
            <label for="female">Femenino</label>
            <input id="male" type="radio" name="gender" value="m">
            <label for="male">Masculino</label><br>
            <br>
            <label>Estado Civil:<br />
                <input type="text" name="state" /></label><br />
            <label>CP:<br />
                <input type="text" name="cp" /></label><br />
            <label>Teléfono:<br />
                <input type="text" name="telephone" /></label><br />
            <label>Celular:<br />
                <input type="text" name="cellphone" /></label><br />
            <label>Correo:<br />
                <input type="text" name="mail" /></label><br />
        </fieldset>
        <br>
        <br>
        <form class="submit" action="#">
            <input type="submit" value="Enviar">
        </form>
    </center>
</div>