<div>
    <h1>admin</h1>
    <br>
    <br>
    <table id="patientTableAdmin" style="width:75%" border="1">
        <tr>
            <th>Usuario</th>
            <th>Fecha registro</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>
            <th>Estado civil</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Correo Electrónico</th>
        </tr>
    </table>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</div>