<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logoFinal.png" />
</head>

<body class="body2">
    <div class="container2">
        <h2 class="container-h2">Registrarse</h2>
        <label for="user_reg"></label>
        <input type="text" name="user" id="user_reg" class="form-control" placeholder="usuario...">
        <br>
        <label for="passw_reg"></label>
        <input type="password" name="passw" id="passw_reg" class="form-control" placeholder="contraseña...">
        <br>
        <label for="role_reg">Rol</label>
        <select name="role" id="role_reg" class="form-control">
            <option value="client">Cliente</option>
            <option value="admin">Administrador</option>
        </select>
        <br><br>
        <button class="btn_sign_" onclick="registerNewUser()">Registrarse</button>
        <br><br>
        <div>
            <a href="{{url_for('login')}}">Iniciar sesión</a>
        </div>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>